<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="margin-left:45; font-family:Forte;margin-left:40%;color: red;font-size: 40px">
      My Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card">
    <img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.0-9/151574157_2548869312083251_7967818905841582280_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFd4QCXQLRIDviZOHfkK355XZnu_Fi-bB1dme78WL5sHfVmhEgDX8FerQckHDPdW-Qn_B2Skit2h8KjaSmJceJZ&_nc_ohc=viP80xCvrBMAX_jmeSe&_nc_ht=scontent.fceb1-2.fna&oh=3744ca05400dfb4e072f830c99a432cd&oe=6074547D" style="width:10%;margin-left:20%;margin-top: 2%;border-radius:200px"><h1 style="margin-left:30%">Ana Liza Dabilbil</h1>
    <img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.0-9/87261263_1278098175719704_5144832566716530688_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFd4vbdSUj86m7V9AQL-KfDQ6syM4FxxMNDqzIzgXHEw1bhYcxNkgJlQAOmCRjpSMSN1No0QJK5VeaSgRLhep6F&_nc_ohc=3oydv-_rO_8AX_Vf5WO&_nc_ht=scontent.fdvo1-1.fna&oh=1b413d379bdef00422e51d5c221011e9&oe=6074C3C7" style="width:10%;margin-left:20%;margin-top: 2%;border-radius:200px"><h1 style="margin-left:30%">Renalyn Lumalaos</h1>
    <img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.0-9/60083401_638018536726708_1577129561802407936_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeGpRwnIdKo1fm4Qef9X-v1L8tCXtJE4yffy0Je0kTjJ91det_QW9cEcJ1YM8X3WRTqBHRFDJvobwRLuzPZMhAh6&_nc_ohc=atkBF6p7XdMAX_PAEPp&_nc_ht=scontent.fdvo1-1.fna&oh=e63c2ea5e1d5b0588d528732954efa97&oe=60747E4C" style="width:10%;margin-left:20%;margin-top: 2%;border-radius:200px"><h1 style="margin-left:30%">Fatima Mae Casaldan</h1>
  </div>
</ion-content>
